html,body {
        padding:0;
        margin:0;
        height:100%;
        min-height:100%;
        max-height:500px;
        background-image: url('http://static.hdw.eweb4.com/media/thumbs/1/13/123999.jpg');
      }
 
 #info{
 	position:relative;
 	z-index: 4;
 	width: 100%;
 	height: 100%;
 	background-color: black;
 	opacity:0.9;
 	color: white;

 }

 #instructions{
 	position:relative;
 	top:20%;
 	text-align: center;
 }

#begin{
	position: relative;
	cursor: pointer;
	border-radius: 20px;
	margin: 0 auto;
	width: 10%;
	background-color: red;
	text-align: center;
}

#frame{
	position:absolute;
	top:4%;
	left:2%;
	width:58%;
	height:91%;
	background: black;
	border: 2px solid black;
	cursor:none;
}

#inner{
	position: relative;
	left:10px;
	width:95%;
	height:95%;
}

#box{
	position:relative;
	top:80%;
	width:20px;
	height:3%;
	background-color: #add123;
	border-radius: 10px;
}

#left{
	position: absolute;
	left: 62%;
	top:5%;
	width: 35%;
	height:90%;
	border: 1px solid red;
}

#clock{
	position:relative;
	top:0;
	left:0;
	height:30%;
	width:100%;
	border: 1px solid red;
	background:black;
}

#top{
	position:relative;
	top:0;
	left:0;
	height:50%;
	width:99%;
}

#mins{
	padding-top:12%;
	color:white;
	position:relative;
	top:0;
	left:0;
	height:30%;
	width:48%;
	float:left;
	text-align:center;
	font-size:190%;
}

#secs{
	padding-top:12%;
	color:white;
	position:relative;
	top:0;
	left:0;
	width: 48%;
	height:30%;
	float: right;
	text-align:center;
	font-size:190%;
}

#bottom{
	color:white;
	text-align:center;
	font-size: 300%;
}

#score{
	color:white;
	text-align:center;
	font-size:300%;
	border: 1px solid red;
	background-color:black;
	height:30.1%;
	text:center;
}

#title{
	color:red;
	width:100%;
	font-size:200%;
	text-align:center;
	background:black;
}

#button{
	position:relative;
	background:black;
	width:100%;
	height:38.9%
	
}

#easy{
	position:absolute;
	left:4%;
	top:60%;
	width:28%;
	height:12%;
	background-color:blue;
	text-align:center;
	cursor: pointer;
	border-radius:10px;
}

#hard{
	position:absolute;
	left:37%;
	top:60%;
	width:28%;
	height:12%;
	background-color:red;
	text-align:center;
	cursor: pointer;
	border-radius:10px;
}

#extreme{
	position:absolute;
	left:70%;
	top:60%;
	width:28%;
	height:12%;
	background-color:red;
	text-align:center;
	cursor: pointer;
	border-radius:10px;
}

#start{
	position:absolute;
	left:55%;
	top:80%;
	width:40%;
	height:15%;
	background-color:#add123;
	text-align:center;
	cursor: pointer;
	border-radius:10px;
}

#stop{
	position:absolute;
	left:5%;
	top:80%;
	width:40%;
	height:15%;
	background-color:#add123;
	text-align:center;
	cursor: pointer;
	border-radius:10px;
}

#boxLeft{
	position:relative;
	top: 5px;
	color: white;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 150%;
}

#level{
	position: relative;
	top: 5px;
	color: white;
	float: right;
	width: 20%;
	font-size: 150%;
	text-align:center;
}

#lives{
	position: relative;
	top: 5px;
	color: white;
	float: right;
	width: 20%;
	text-align:center;
	font-size: 150%;
}

.good{
	width:20px;
	height:20px;
	/*background-color:#add123;*/ 
	
	position:absolute;
	
	top:-200px;	
}

.newBlock{
	width:20px;
	height:20px;
	background-color:#add123;
	background-image :url( 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Rmc290ZpjfCdOeLaSfF9Eu-hEMwQ2eqUx8QK3Z6aD5nr_OkB'); 
	position:absolute;
	top:-50px;
	background-size: 100% 100%;
	border-radius: 1000000px;
}

.bad{
	width:20px;
	height:20px;
	background-color:red;
	position:absolute;
	top:-200px;	
}

.badBlock{
	width:20px;
	height:20px;
	background-color:red;
	position:absolute;
	top:-50px;
	border-radius: 1000000px;
}

.ugly{
	width:20px;
	height:20px;
	background-color:yellow;
	position:absolute;
	top:-200px;	
}

.lifeBlock{
	width:20px;
	height:20px;
	background-image :url('http://static3.wikia.nocookie.net/__cb20120809232436/fantendo/images/3/37/NSMBWii1upMushroom.png'); 
    background-color:blue;
	background-size: 100% 100%;
	position:absolute;
	top:-50px;
	border-radius: 1000000px;
}
.hidden {
display:none;	
}


#other{
    
    height:91%;
    margin: 0 auto;
}