<!DOCTYPE HTML>
<html>


	<head>
		<title>Principles of Engineering Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
		<link rel="icon" type="image/png" href="../{{ STATIC_URL }}images/favicon.png">
		<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	</head>

	<body>
		<script type="text/javascript">
			function set_banner_pic() {
				var elem = document.getElementById('header-page')
				var n = Math.floor(Math.random() * (15))
				var conv_n = n > 9 ? "" + n : "0" + n
				elem.style.backgroundImage = 'url(../{{ STATIC_URL }}images/banner' + conv_n + '.jpg)';
			}
			window.onload = set_banner_pic;
		</script>
		<!-- Header -->
		<header id="header-page" class="alt">
			<div class="inner">
				<h1>Principles of Engineering Projects</h1>
				<p>Engineering Related Projects</p>
			</div>
		</header>
		<div class="nav-bar">
			<h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
			</h3>
			<h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
			</h3>
			<div class="dropdown">
				<h3 class="nav-4 dropbtn nav-pad active"><a class="nav-link">Projects</a></h2>
				</h3>
				<div class="dropdown-content">
					<a href="/tensorflow">Deep Learning Projects</a>
					<a href="/csp">Projects from Computer Science Principles</a>
					<a href="/poe" class="active">Projects from Principles of Engineering</a>
					<a href="/csa">Projects from Computer Science Applications</a>
					<a href="/de">Projects from Digital Electronics</a>
					<!--<a href="/other">Other Projects</a>-->
					<!-- Above is the link to other projects, which I am disabling because they are not accompanied by any documentation -->
				</div>
			</div>
			<h3 class="nav-5 nav-pad"><a class="nav-link" href="/experience">Work Experience</a></h2>
			</h3>
			<h3 class="nav-6 nav-pad"><a class="nav-link" href="/career_exploration">Career Exploration</a></h2>
			</h3>
		</div>
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Items -->
			<section id="main" class="main">
				<header id="poe">
					<h2>Principles of Engineering</h2>
				</header>
				<p>
				As part of requirements to graduate as an engineering student at Dublin High School and later on in college 
				and as a primer class to learn the basic engineering practices, I am takin Honors Principles of Engineering 
				at my school. The class explores a variety of physics concepts such as kinematics, statics, circuits, heat 
				engines, and many more. Each topic is accompanied by a full scale project in which as a team we build a working 
				prototype to address a problem. These projects are all complete with official documentation and a simulation in 
				Netlogo which allowed me to test out different aspects of the project.
				</p>
			</section>
			<section class="main items">
				<article class="item">
					<header>
						<a href="../{{ STATIC_URL }}netlogo/MechanicalWinch.html">
						<img src="../{{ STATIC_URL }}project_images/MechanicalWinch.jpg" alt="" /></a>
						<h3>Mechanical Winch</h3>
					</header>
					<p class="left">
						<strong>Duration: </strong>October 14, 2019 - October 23, 2019 </br>
						<strong>Partners: </strong>Oleg Bychenkov, Kaushal Ramalingam, Kabir Shah</br>
						<strong>Objective: </strong>Create a mechanical winch to lift 100 g for 30 cm</br>
						<strong>Details: </strong>For this project, we as a team had to create a mechanical winch from Vex parts 
						which would be able to lift 100 g for 30 cm. To power our winch, we had access to a FisherTech motor and 7.5 V 
						of DC power. Since my teammates and I were all inexperienced in building machines, I took charge of the team to 
						create the actual winch, and gave two other people the responsibility to create a NetLogo simulation to model 
						our winch. Some of the challenges we faced was incorporating the FisherTech motor with the Vex pieces, since 
						there was no built in method to do so, and the challenge of creating enough torque in the system while maintaining 
						a reasonable speed of ascent. We overcame the motor challenge by makeshifting a frame to hold the motor in 
						place by surrounding the motor with L-brackets, and we used mechanical advantage calculations to determine 
						the desired gear ratio to use. This project taught me primarily how to build and assemble a machine, as I 
						had no prior experience in doing so, and also taught me how to ask for help from other more experienced peers 
						and improvise. This project helped me realize that it is important to learn new skills and try something I am 
						not familiar with, along with teaching me how to delegate tasks to get the job done efficiently. The documentation 
						for this project can be found 
						<a href="../{{ STATIC_URL }}Website_pdfs/MechanicalWinch.pdf">here</a> while 
						the netlogo simulation is 
						<a href="../{{ STATIC_URL }}netlogo/MechanicalWinch.html">here</a>
					</p>
					<ul class="actions">
						<li><a href="../{{ STATIC_URL }}netlogo/MechanicalWinch.html" class="button">
						Click Here to view the Simulation</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="../{{ STATIC_URL }}netlogo/MechanicalWinch.html">
						<img src="../{{ STATIC_URL }}project_images/SolarHydrogenVehicle.png" alt="" /></a>
						<h3>Solar and Hydrogen Vehicle</h3>
					</header>
					<p class="left">
						<strong>Duration: </strong>October 30, 2019 - November 18, 2019 </br>
						<strong>Partners: </strong>Romyr Concepcion, Rohil Khare, Krishna Rao</br>
						<strong>Objective: </strong>Build a vehicle powered by Hydrogen and Solar Power</br>
						<strong>Details: </strong> 
						For this project, we had to create a vehicle that could be powered by both Hydrogen cells and Solar cells. 
						The constraints for the project were that the entire vehicle had to be fit in a 12 inch by 7 inch box.
						The purpose of this project was to determine the best configuration of power cells such as two of the same cell in 
						a parallel and series circuit. In this project I took the lead of creating the electrical setup such that all 
						of the configurations of the power cells could be incorporated without changing any wiring. I also worked together 
						with my teammates to build the project with my newly aquired building skills. Some challenges that we faced were that 
						the constraints severely limited us from using more intricate gear systems to optimize the gear ratio of the car, 
						and that the Hydrogen cells were severely worn out so provided very little power output. We solved these issues by 
						optimizing the size of the vehicle by designing more compact mechanisms, and minimizing the amount of metal and parts 
						we used so that the car weighed as little as possible. Through this project I learned how difficult it is to build 
						a fully working car and the number of iterations it takes to get a fully functional prototype working. I also learned 
						how to work with other highly accomplished people in a way that everyone's skills were used in the most optimal way. 
						The documentation can be found 
						<a href="../{{ STATIC_URL }}Website_pdfs/SolarHydrogenVehicle.pdf">here</a> while 
						the netlogo simulation is 
						<a href="../{{ STATIC_URL }}netlogo/SolarHydrogenVehicle.html">here</a>
					</p>
					<ul class="actions">
						<li><a href="../{{ STATIC_URL }}netlogo/SolarHydrogenVehicle.html" class="button">
						Click Here to view the Simulation</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="../{{ STATIC_URL }}netlogo/RocketSim.html">
						<img src="../{{ STATIC_URL }}project_images/AerodynamicDesign.jpg" alt="" /></a>
						<h3>Aerodynamic Design</h3>
					</header>
					<p class="left">
						<strong>Duration: </strong>January 9th, 2020 - January 28th, 2020 </br>
						<strong>Partners: </strong>Grace Liu, Advait Shewade, Ridhi Tamirasa</br>
						<strong>Objective: </strong>Design and build a paper rocket that flies the furthest</br>
						<strong>Details: </strong> 
						For this project, we had to each create a paper rocket design and try to get it to fly the farthest. 
						The constraints for the project were that the rocket must be between 10 to 15 inches and must be made of paper. 
						The purpose of this project was to determine the best rocket design for distance based on the constraints. 
						In this project I spend extensive time researching the optimal shape for rocket fins, nose cone, and the rocket's body. 
						Of the research, I drew up a decision matrix based on how feasable each shape was to implement using paper. 
						Some challenges that we faced were the creation of the rocket body to fit the pvc launch pipe as accurately as possible, 
						which the variable thickness of different pvc pipes made quite difficult. We solved this problem by creating our own template 
						of the pvc pipe by accurately measuring the launch pipe using a set of dial calipers and creating another pipe using cardstock. 
						Through this project I learned about the concepts that make flight possible in the modern world. I also learned 
						the value of putting in hard work and effort to create something, since my rocket flew the furthest out of all of 
						the engineering classes at a horizontal distance of 243 feet. 
						The documentation can be found 
						<a href="../{{ STATIC_URL }}Website_pdfs/AerodynamicDesign.pdf">here</a> while 
						the netlogo simulation is 
						<a href="../{{ STATIC_URL }}netlogo/RocketSim.html">here</a>
					</p>
					<ul class="actions">
						<li><a href="../{{ STATIC_URL }}netlogo/RocketSim.html" class="button">
						Click Here to view the Simulation</a></li>
					</ul>
				</article>


			</section>
			</section>
			<!-- Main -->




			<!-- Footer -->
			<footer id="footer">
				<p class="align-left">
					<b>Contact</b> </br>
					Tanish Baranwal, Dublin, CA </br>
					Phone: 510-480-7799 </br>
					Email: b.tanish@gmail.com
				</p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

	</body>

</html>
