<!DOCTYPE HTML>
<html>


	<head>
		<title>About Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="../{{ STATIC_URL }}images/favicon.png">
		<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
		<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	</head>

	<body>
		<script type="text/javascript">
			function set_banner_pic() {
				var elem = document.getElementById('header-page')
				var n = Math.floor(Math.random() * (15))
				var conv_n = n > 9 ? "" + n : "0" + n
				elem.style.backgroundImage = 'url(../{{ STATIC_URL }}images/banner' + conv_n + '.jpg)';
			}
			window.onload = set_banner_pic;
		</script>
		<!-- Header -->
		<header id="header-page" class="alt">
			<div class="inner">
				<h1>About Me</h1>
				<p></p>
			</div>
		</header>
		<div class="nav-bar">
			<h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
			</h3>
			<h3 class="nav-2 nav-pad active"><a class="nav-link" href="/about_me">About</a></h2>
			</h3>
			<div class="dropdown">
				<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link">Projects</a></h2>
				</h3>
				<div class="dropdown-content">
					<a href="/tensorflow">Deep Learning Projects</a>
					<a href="/csp">Projects from Computer Science Principles</a>
					<a href="/poe">Projects from Principles of Engineering</a>
					<a href="/csa">Projects from Computer Science Applications</a>
					<a href="/de">Projects from Digital Electronics</a>
					<!--<a href="/other">Other Projects</a>-->
					<!-- Above is the link to other projects, which I am disabling because they are not accompanied by any documentation -->
				</div>
			</div>
			<h3 class="nav-5 nav-pad"><a class="nav-link" href="/experience">Work Experience</a></h2>
			</h3>
			<h3 class="nav-6 nav-pad"><a class="nav-link" href="/career_exploration">Career Exploration</a></h2>
			</h3>
		</div> <!-- Wrapper -->
		<div id="wrapper">


			<!-- Banner -->
			<section id="intro" class="main">
				<span class="icon major"><img class="profile_pic" src="../{{ STATIC_URL }}images/profile_pic.jpg"></img></span>
				<h2>About Me</h2>
				<p class="left">
					Tanish Baranwal, Data Scientist </br>
					Email: b.tanish@gmail.com </br>
					City: Dublin, CA </br></br>
					I am Tanish Baranwal, an aspiring programmer, and a Senior at Dublin High School.
					I am also enrolled in Stanford Online High School as a part-time student.
					My goal is to dedicate myself to the entrepreneurial career path by acquiring a PhD, a major in business, 
					and starting a company. My future career goals are pursuing a PhD in Deep Learning or Reinforcement Learning, 
					and developing new algorithms that bring us closer to an Artificial General Intelligence as a postgraduate 
					researcher, and as such I want to study a major that has equal parts an emphasis on core and theoretical math 
					concepts, along with practical concepts in computer science. After earning a PhD, I intend to continue 
					researching as a postgraduate researcher for a few years before starting my own company.
					I want to eventually use my skills to createtechnology that will make lives easier for people all around the world. My plan
					for achieving this goal is to take all possible computer science and mathematics courses available
					at my high school and take courses in artificial intelligence to further my
					information on the topic. I will then use the information to take on tasks
					that will enrich my resume and my capabilities. This is my plan for the future
					because I have always been fascinated with computers and automation. I believe
					that the future of computing and machines is artificial intelligence and would
					like to be part of the revolution.
				</p>
				<p class="left">
					I have spent high school engrossed in Deep Learning and Computer Science. Beyond Advanced Placement courses 
					through AP Calculus BC, I have chosen to take further math courses from Stanford. Starting with Number Theory, 
					I took Applied Matrix Theory and Multivariable Calculus. These two courses had direct applications in Deep 
					Learning, and I was able to use the knowledge I learned from them in both my professional and research careers. 
					I also developed crucial research and critical thinking skills that will help me succeed in the course through 
					my internship for Outworx, a development contracting company. This work involved detecting fraudulent transactions 
					in parking garages using autoencoders, and I used deep reinforcement learning algorithms to create a website 
					navigator to automate quality assurance. This internship taught me how to read academic papers and how to push 
					through failure, both important perspectives to have when faced with difficult classes. 
				</p>
				<p class="left">
					Some of my key skills include crucial research and critical thinking skills that I have acquired through my internship 
					for Outworx, a development contracting company. This work involved detecting fraudulent transactions in parking 
					garages using autoencoders, and I used deep reinforcement learning algorithms to create a website navigator to 
					automate quality assurance. This internship taught me how to read academic papers and how to push through failure. 
					Additionally, through participating in and winning awards at multiple engineering and design competitions, 
					I have learned leadership skills like delegation and team motivation and how to become an effective speaker and 
					pitcher. I have led all of these projects to patents submitted to the US Patent and Trademark Office, totaling 
					five pending patents in various fields. 

				</p>
				<p class="left">
					In the past year and a half, I have been involved in research groups that have led to submitted 
					papers and pending patents of their own. I have led these research groups with the goal of 
					using Deep Learning to solve problems in fields such as evolutionary neuroscience at Louis Lab, 
					University of California–Santa Barbara (UCSB), drug discovery and clozapine efficacy testing 
					with the Aspiring Scholars Directed Research Program, and redundant sensor anomaly detection. 
					Through my research career, I have worked with PhD researchers at Stanford and UCSB, assistant 
					professor Matthieu Louis from the Louis Lab, research staff at John Hopkins Applied Physics 
					Laboratory, and many others. Performing, and in some cases, leading, research in these fields 
					has taught me how to accurately visualize and describe complex problems to others. I am able to use 
					precise visual cues and communicate effectively to help listeners build their own visualizations. 
					Additionally, these projects have led to a paper accepted at the Journal of Emerging Investigators 
					and a paper submitted to the Journal of Student Researchers. 
				</p>
				<ul class="actions">
					<li><a href="https://github.com/tekotan" class="button big">View My Github Profile</a></li>
					<li><a href="https://www.linkedin.com/in/tekotan/" class="button big">View My LinkedIn Profile</a></li>
					<li><a href="https://medium.com/@tekotan" class="button big">View My Medium Profile</a></li>
				</ul>
			</section>


			<!-- Footer -->
			<footer id="footer">
				<p class="align-left">
					<b>Contact</b> </br>
					Tanish Baranwal, Dublin, CA </br>
					Phone: 510-480-7799 </br>
					Email: b.tanish@gmail.com
				</p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
		<script>
			$(document).ready(function() {
				$(window).bind('scroll', function() {
					var navHeight = $('#header-page').height() + 300;
					if ($(window).scrollTop() > navHeight) {
						$('.nav-bar').addClass('fixed');
						$('.nav-1').addClass('toleft');
					} else {
						$('.nav-bar').removeClass('fixed');
						$('.nav-1').removeClass('toleft');
					}
				});
			});
		</script>

	</body>

</html>
