absl-py==0.2.2
astor==0.6.2
backports.weakref==1.0rc1
bleach==1.5.0
Django>=2.0.11
django-cors-headers==3.2.0
gast==0.2.0
grpcio==1.13.0
html5lib==0.9999999
Markdown==2.6.11
numpy==1.14.5
pandas==0.23.1
protobuf==3.6.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
tensorboard==1.8.0
tensorflow==2.7.2
termcolor==1.1.0
Werkzeug==0.14.1
