<!DOCTYPE HTML>
<html>


	<head>
		<title>CSP Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="../{{ STATIC_URL }}images/favicon.png">
		<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
		<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	</head>

	<body>
		<script type="text/javascript">
			function set_banner_pic() {
				var elem = document.getElementById('header-page')
				var n = Math.floor(Math.random() * (14)) + 1
				var conv_n = n > 9 ? "" + n : "0" + n
				elem.style.backgroundImage = 'url(../{{ STATIC_URL }}images/banner' + conv_n + '.jpg)';
			}
			window.onload = set_banner_pic;
		</script>
		<!-- Header -->
		<header id="header-page" class="alt">
			<div class="inner">
				<h1>Projects for CSP</h1>
				<p>These projects are Done for the Computer Science Priciples class</p>
			</div>
		</header>
		<div class="nav-bar">
			<h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
			</h3>
			<h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
			</h3>
			<h3 class="nav-3 nav-pad"><a class="nav-link" href="/about_me/#contactForm">Contact</a></h2>
			</h3>
			<div class="dropdown">
				<h3 class="nav-4 dropbtn nav-pad active"><a class="nav-link">Projects</a></h2>
				</h3>
				<div class="dropdown-content">
					<a href="/tensorflow">Tensorflow Projects</a>
					<a href="/csp" class="active">Projects from Computer Science Principles</a>
					<a href="/poe">Projects from Principles of Engineering</a>
					<!--<a href="/other">Other Projects</a>-->
					<!-- Above is the link to other projects, which I am disabling because they are not accompanied by any documentation -->
				</div>
			</div>
			<h3 class="nav-5 nav-pad"><a class="nav-link" href="/experience">Work Experience</a></h2>
			</h3>
		</div> <!-- Wrapper -->
		<div id="wrapper">


			<!-- Banner -->

			<!-- Items -->
			<section id="main" class="main">
				<header id="tensorflow">
					<h2>Computer Science Principles</h2>
				</header>
				<p>I am currently taking a computer science class in high school called
					Computer Science Principles. In this class, the fundamentals of programming
					are explored through means like Scratch, MIT App Inventor, Web Development, and
					Python Programming</p>
			</section>
			<section class="main items">
				<article class="item">
					<header>
						<a href="https://scratch.mit.edu/projects/244063081/"><img src="../{{ STATIC_URL }}images/pic020.jpg" alt="" /></a>
						<h3>GreenBall Platform Game on Scratch</h3>
					</header>
					<p>
						<strong>Duration: </strong>August 30, 2018 - September 9, 2019</br>
						<strong>Partner: </strong>Abhishek Sarepaka
						<strong>Platform: </strong><a href="scratch.mit.edu">Scratch</a></br>
						<strong>Objective: </strong>To build a scratch game or animation with user interaction and multiple stages. </br>
						<strong>Details: </strong>For the scratch project, we had to program a
						scratch game or animation that had user interation along with multiple stages.
						We chose to create a game because it appealed to our interests. We decided on creating a platform game with
						realistic gravity effects and movement that agrees with the laws of physics. Since I had previous programming experience,
						I took the lead in the design of the game, using my experience to teach my partner,
						while my partner handled the asthetic aspects of the project like designing the levels
						and characters of the game. Some challenges that arose was correctly modeling the
						projectile motion of the ball during a jump. We worked around this by researching
						the ways other people used in their own platform games and modeled our code after theirs.
						This project taught me how to divide and conquer tasks based on the skills available between the two of us.
						The documentation for this project can be found <a href="../{{ STATIC_URL }}Website_pdfs/Scratch Project Documentation.pdf">here.</a>
					</p>
					<ul class="actions">
						<li><a href="https://scratch.mit.edu/projects/244063081/" class="button">Click Here to view</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="https://scratch.mit.edu/projects/244063081/"><img src="../{{ STATIC_URL }}images/pic027.jpg" alt="" /></a>
						<h3>Image Manipulation Project</h3>
					</header>
					<p>
						<strong>Duration: </strong>Febuary 25, 2019 - March 28, 2019</br>
						<strong>Partner: </strong>Andrea Jia
						<strong>Platform: </strong><a href="scratch.mit.edu">Python</a></br>
						<strong>Objective: </strong>To develop an image manipulation feature using Python and other APIs </br>
						<strong>Details: </strong>For the image manipulation project we had develop and design an image manipulation feature
						using python APIs and other modules. The original project provided 3 guided tasks, all involving a client bringing a
						task. We however decided to develop something more complex, and opt for Task 4, which was the development option.
						We decided to implement a style transfer system described in the paper
						 <a href="https://arxiv.org/abs/1508.06576">A Neural Algorithm of Artistic Style</a>
						, which would transfer the style of one image onto the content of another image. Since I had prior experience in
						 reading and understanding algorithms in scientific papers, I headed the algorithm implementation while Andrea
						 focused on the user interface and the documentation of the project. Some challenges that arose was in the implementation
						  of the algorithm was that some of the techniques were too exhaustive for the resources available to us, in which case I used
							prior knowledge of Deep Learning to substitute the techniques with other viable options. Another challenge that arose was
							figuring out the best way to provide the user with choices in the user interface. We solved this challenge by
							taking the opinion of our classmates of what they want in a user interface, and using their opinons to build one.
							This project taught me about how to read and comprehend a scientific paper that outlines an algorithm, and how to use
							mathematics to understand a computer algorithm. Some soft skills I learned was how to explain an algorithm to someone
							that has no prior experience on the subject and it's background, something that is a very important skill for the
							professional world. The documentation for this project can be found <a href="../{{ STATIC_URL }}Website_pdfs/ImageManipulationDocumentation.pdf">here,</a>
							 and for the techinical details and paper summary see my blog on this project <a href="https://medium.com/@tekotan/neural-style-transfer-23a3fb4c6a9e">here.</a>
					</p>
					<ul class="actions">
						<li><a href="https://medium.com/@tekotan/neural-style-transfer-23a3fb4c6a9e?source=friends_link&sk=70191f35936c5bea2b2df1359763b949" class="button">Technical Details and Results</a></li>
					</ul>
				</article>
			</section>
			<!-- Main -->




			<!-- Footer -->
			<footer id="footer">

			</footer>

		</div>

		<!-- Scripts -->
		<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

	</body>

</html>
