<!DOCTYPE HTML>
<html>


<head>
	<title>Tekotan</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css"/>
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>

<body>
	<script type="text/javascript">
	function set_banner_pic() {
	  var images = [
			'../{{ STATIC_URL }}images/banner01.jpg', '../{{ STATIC_URL }}images/banner02.jpg',
			'../{{ STATIC_URL }}images/banner03.jpg', '../{{ STATIC_URL }}images/banner04.jpg',
			'../{{ STATIC_URL }}images/banner05.jpg',
			'../{{ STATIC_URL }}images/banner06.jpg', '../{{ STATIC_URL }}images/banner07.jpg',
			'../{{ STATIC_URL }}images/banner08.jpg',
			'../{{ STATIC_URL }}images/banner09.jpg', '../{{ STATIC_URL }}images/banner10.jpg'];
	  var elem = document.getElementById('header-page')
		elem.style.backgroundImage = 'url(' + images[Math.floor(Math.random() * (10))] + ')';
	}
	window.onload = set_banner_pic;
</script>
	<!-- Header -->
	<header id="header-page" class="alt">
		<div class="inner">
			<h1>Projects for CSP</h1>
			<p>These projects are Done for the Computer Science Priciples class</p>
		</div>
	</header>
	<div class="nav-bar">
		      <h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
		      <h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
		      <h3 class="nav-3 nav-pad"><a class="nav-link" href="/about_me/#contactForm">Contact</a></h2>
					<div class="dropdown">
					<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link active">Projects</a></h2>
			    <div class="dropdown-content">
			      <a href="/tensorflow">Tensorflow Projects</a>
						<a href="/csp" class="active">Projects from Computer Science Principles</a>
			      <a href="/other">Other Projects</a>
					</div>
				</div>
		      <h3 class="nav-5 nav-pad"><a class="nav-link" href="/experience">Work Experience</a></h2>
		    </div>
	<!-- Wrapper -->
	<div id="wrapper">


		<!-- Banner -->

		<!-- Items -->
		<section id="main" class="main">
			<header id="tensorflow">
				<h2>CSP</h2>
			</header>
			<p>Insert Details for the main projects, including information that each project will have a blog post.</p>
		</section>
		<section class="main items">
		<article class="item">
			<header>
				<a href="/Sentiment_Analysis"><img src="../{{ STATIC_URL }}images/pic020.jpg" alt="" /></a>
				<h3>Dummy Project</h3>
			</header>
			<p>This is an awesome representation of how tensorflow can do remarkable things. In this project, you can enter any
			phrase and my program will classify it as either positive or negetive. For more details on how I made this project, view the slides on the right.</p>
			<ul class="actions">
				<li><a href="/Sentiment_Analysis" class="button">Click Here to view</a></li>
			</ul>
		</article>
		</section>
		<!-- Main -->




		<!-- Footer -->
		<footer id="footer">

		</footer>

	</div>

	<!-- Scripts -->
	<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

</body>

</html>
