<!DOCTYPE HTML>
<html>


<head>
	<title>Work Experience</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
	<link rel="icon" type="image/png" href="../{{ STATIC_URL }}images/favicon.png">
	<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>

<body>
	<script type="text/javascript">
		function set_banner_pic() {
			var elem = document.getElementById('header-page')
			var n = Math.floor(Math.random() * (15))
			var conv_n = n > 9 ? "" + n : "0" + n
			elem.style.backgroundImage = 'url(../{{ STATIC_URL }}images/banner' + conv_n + '.jpg)';
		}
		window.onload = set_banner_pic;
	</script>
	<!-- Header -->
	<header id="header-page" class="alt">
		<div class="inner">
			<h1>Work Experience</h1>
			<p>More about my Experience in the field</p>
		</div>
	</header>
	<div class="nav-bar">
		<h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
		</h3>
		<h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
		</h3>
		<div class="dropdown">
			<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link">Projects</a></h2>
			</h3>
			<div class="dropdown-content">
				<a href="/tensorflow">Deep Learning Projects</a>
				<a href="/csp">Projects from Computer Science Principles</a>
				<a href="/poe">Projects from Principles of Engineering</a>
				<a href="/csa">Projects from Computer Science Applications</a>
				<!--<a href="/other">Other Projects</a>-->
				<!-- Above is the link to other projects, which I am disabling because they are not accompanied by any documentation -->
			</div>
		</div>
		<h3 class="nav-5 nav-pad active"><a class="nav-link" href="/experience">Work Experience</a></h2>
		</h3>
		<h3 class="nav-6 nav-pad"><a class="nav-link" href="/career_exploration">Career Exploration</a></h2>
		</h3>
	</div>
	<!-- Wrapper -->
	<div id="wrapper">


		<!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-diamond major"></span>
			<p class="left">During my time in the engineering program, I have met a number of industry professionals through workplace field trips and guest speakers. 
			These experiences have shaped my plans for the future in the sense that I am more clear than ever in my future career as a Data Scientist. 
			While all of these experiences were beneficial and highly interesting, there were some that played a significant role in my planned future pursuits.
			</br>
			The most influential field trip I had was when I went to LAM where I got to see how the machinery that manufactures silicon chips was made. 
			On this field trip, I learned about the complexities of managing large teams and dealing with influential and difficult customers. It was very 
			interesting to meet with the different engineers and managers and to hear about their journey through their careers, and the opportunity to 
			learn about their mistakes was in my opinion priceless.
			</br>
			Of all of the guest speakers I’ve listened to throughout my time in the engineering program, one was particularly interesting due to the fact 
			that he was a professional in the field I want to go into, Deep Learning. Jason, from Uber Labs, helped reveal the true potential of Deep Learning 
			to me. Some key takeaways I had from the presentation was how Deep Learning was extremely powerful in the tasks that humans are good at, such as 
			classification and empirical decision making but are not as powerful in tasks such as memorizing data or doing heavy calculations, similar to 
			humans. Additionally, Deep Learning models develop surprisingly understandable abstractions for tasks such as image classification, for example 
			developing the ability to recognize facial features and larger objects and entities in the image itself. The way that Jason was able to apply 
			Deep Learning within Uber inspired me and showed me the immense amount of potential that Deep Learning has to revolutionize all current 
			industries similar to the way computing changed the world.</p>
		</section>
			<section class="main">
				<article class="item">
					<header>
						<a href="/experience"><img src="../{{ STATIC_URL }}images/pic009.jpg" alt="" /></a>
						<h3>Resume</h3>
					</header>
					<p>Read my resume about my educational journey to reach my career goals!</p>
					<ul class="actions">
						<li><a href="../{{ STATIC_URL }}Website_pdfs/Resume.pdf">My Resume</a></li>
					</ul>
				</article>
			</section>
			</section>
			{% comment %} <object data="../{{ STATIC_URL }}Website_pdfs/Resume.pdf" type="application/pdf" width="80%" height="1130em">
				<embed src="../{{ STATIC_URL }}Website_pdfs/Resume.pdf" type="application/pdf">
				<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../{{ STATIC_URL }}Website_pdfs/Resume.pdf">Download PDF</a>.</p>
				</embed>
			</object> {% endcomment %}
		<!--	<h2>Resume</h2>
			<p class='left'>
				<h3 class="left">Tanish Baranwal</h3>
				<h4 class="left">Career Goals</h4>
				<p class="left">
					Goal for the future is to obtain a PhD in artificial intelligence from a good college and contribute to the digital revolution.
				</p>
				<h4 class="left">Education</h4>
				<p class="left">
					Dublin High School, Dublin — Full Time Student </br>
					Duration: August 2018 - June 2022 </br>
					Freshman in Dublin High School, Has taken math courses up to Algebra 2, currently taking Honors Chemistry </br>
					Colleges Goals: To study artificial intelligence at colleges such as MIT, Harvard, Stanford, or CMU.
				</p>
				<p class="left">
					Stanford Online High School, Stanford — Part Time Student </br>
					Duration: August 2018 - June 2022 </br>
					Part time student at Stanford Online High School, taking courses not available at Dublin High. Currently taken Honors Physiscs
				</p>
				<h4 class="left">Work and Volunteer Experience</h4>
				<p class="left">

					Currently involved in a commercial project involving using Deep Learning techniques
					to detect fraudulent credit card transactions in parking garages throughout the country,
					where the specific role in the project is to be a data scientist applying Deep Learning
					in the task. </br>
					In the summer of 2018, has created and managed a tutoring service for children requiring extra academic
					support.
				</p>
				<h4 class="left">Skills</h4>
				<p class="left">
					Currently in French 2, has plans of continuing to AP level French</br>
					Has been coding for 9 years, since first grade, advanced level Python programmer, proficient in using Tensorflow for deep learning tasks </br>
					Completed Deep Learning, a 5-course specialization by deeplearning.ai on Coursera. Specialization Certificate earned on June 4, 2018. Link
					<a href="https://www.coursera.org/account/accomplishments/specialization/certificate/3HQGNCJCU8KY">here</a>
				</p>
				<h4 class="left">EXTRACURRICULAR ACTIVITIES</h4>
				<p class="left">
					Swims for the Pleasanton Seahawks </br>
					<a href="https://www.ohs.stanford.edu">Stanford Online High School </a> </br>
					Math Competitions: Purple Comet 2017 and 2018, Math Olympiad Highest
					Individual Scorer Award 3 times 2016-2018, AMC 8/10 </br>

				</p>
			</p>
			<ul class="actions">
			</ul> -->
		</section>

		<!-- Items -->
		<!-- Main -->




		<!-- Footer -->
		<footer id="footer">
			<p class="align-left">
				<b>Contact</b> </br>
				Tanish Baranwal, Dublin, CA </br>
				Phone: 510-480-7799 </br>
				Email: b.tanish@gmail.com
			</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

</body>

</html>
