<!DOCTYPE HTML>
<html>


	<head>
		<title>Tekotan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
		<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	</head>

	<body>
		<script type="text/javascript">
			function set_banner_pic() {
				var images = [
					'../{{ STATIC_URL }}images/banner01.jpg', '../{{ STATIC_URL }}images/banner02.jpg',
					'../{{ STATIC_URL }}images/banner03.jpg', '../{{ STATIC_URL }}images/banner04.jpg',
					'../{{ STATIC_URL }}images/banner05.jpg',
					'../{{ STATIC_URL }}images/banner06.jpg', '../{{ STATIC_URL }}images/banner07.jpg',
					'../{{ STATIC_URL }}images/banner08.jpg',
					'../{{ STATIC_URL }}images/banner09.jpg', '../{{ STATIC_URL }}images/banner10.jpg'
				];
				var elem = document.getElementById('header-page')
				elem.style.backgroundImage = 'url(' + images[Math.floor(Math.random() * (10))] + ')';
			}
			window.onload = set_banner_pic;
		</script>
		<!-- Header -->
		<header id="header-page" class="alt">
			<div class="inner">
				<h1>Work Experience</h1>
				<p>More about my Experience in the field</p>
			</div>
		</header>
		<div class="nav-bar">
			<h3 class="nav-1 nav-pad"><a class="nav-link" href="/">Home</a></h2>
				<h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
					<h3 class="nav-3 nav-pad"><a class="nav-link" href="/about_me/#contactForm">Contact</a></h2>
						<div class="dropdown">
							<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link">Projects</a></h2>
								<div class="dropdown-content">
									<a href="/tensorflow">Tensorflow Projects</a>
									<a href="/csp">Projects from Computer Science Principles</a>
									<a href="/other">Other Projects</a>
								</div>
						</div>
						<h3 class="nav-5 nav-pad"><a class="nav-link active" href="/experience">Work Experience</a></h2>
		</div>
		<!-- Wrapper -->
		<div id="wrapper">


			<!-- Banner -->
			<section id="intro" class="main">
				<span class="icon fa-diamond major"></span>
				<h2>Resume</h2>
				<p>Hello! I am Tanish Baranwal and I am a developer working on many projects! I know many programming languages. I know Python, CSS,
					Javascript, HTML, SQL, and very little PHP. I just started learning tensorflow. Tensorflow is a powerful module made by Google that uses prebuild
					computational functions to assist with machine learning. View the tensorflow section <a href="#tensorflow">below</a>. I have been using this to make projects. As the projects are finished, I will post a demo and
					some slides explaining the problem, the application, and the architecture. To be informed when I post a project, signup for the <a href="#cta">mailing list</a>.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }about/index.html" class="button big">More About Me</a></li>
			</ul>
		</section>

		<!-- Items -->
		<!-- Main -->




		<!-- Footer -->
		<footer id="footer">

		</footer>

	</div>

	<!-- Scripts -->
	<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
							<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
							<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
							<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
							<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

	</body>

</html>