<!DOCTYPE HTML>
<html>


	<head>
		<title>Online Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css" />
		<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	</head>

	<body>
		<script type="text/javascript">
			function set_banner_pic() {
				var elem = document.getElementById('headermain')
				var n = Math.floor(Math.random() * (15))
				var conv_n = n > 9 ? "" + n : "0" + n
				elem.style.backgroundImage = 'url(../{{ STATIC_URL }}images/banner' + conv_n + '.jpg)';
			}
			window.onload = set_banner_pic;
		</script>
		<!-- Header -->
		<header id="headermain" class="alt">
			<div class="inner">
				<h1>Tanish Baranwal's Online Portfolio</h1>
				<p>A Way for A Student to Show His Progress</p>
			</div>
		</header>
		<div class="nav-bar">
			<h3 class="nav-1 nav-pad active"><a class="nav-link" href="/">Home</a></h2>
			</h3>
			<h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
			</h3>
			<h3 class="nav-3 nav-pad"><a class="nav-link" href="/about_me/#contactForm">Contact</a></h2>
			</h3>
			<div class="dropdown">
				<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link">Projects</a></h2>
				</h3>
				<div class="dropdown-content">
					<a href="/tensorflow">Tensorflow Projects</a>
					<a href="/csp">Projects from Computer Science Principles</a>
					<!--<a href="/other">Other Projects</a>-->
					<!-- Above is the link to other projects, which I am disabling because they are not accompanied by any documentation -->
				</div>
			</div>
			<h3 class="nav-5 nav-pad"><a class="nav-link" href="/experience">Work Experience</a></h2>
			</h3>
		</div>
		<!-- Wrapper -->
		<div id="wrapper">


			<!-- Banner -->
			<section id="intro" class="main">
				<span class="icon fa-diamond major"></span>
				<h2>About Me</h2>
				<p>Hello! I am Tanish Baranwal and I am an aspiring programmer. My goal in life
					is to become a researcher in Artificial Intelligence and have started my
					journey in the field by taking many courses on Coursera. I have been programming
					in python for 9 years and have already learned tensorflow, so am well prepared
					for the world of programming and Artificial Intelligence, which has
					recently been captivated by python. My other interests include math and physics.
					<ul class="actions">
						<li><a href="/about_me" class="button big">More About Me</a></li>
					</ul>
			</section>
			<!-- Main -->
			<section class="main items">
				<article class="item" id="small_contact">
					<header>
						<a href="/about_me#contactForm"><img src="../{{ STATIC_URL }}images/pic024.jpg" alt="" /></a>
						<h3>Contact Me</h3>
					</header>
					<p>Feel free to ask anything about me!</p>
					<ul class="actions">
						<li><a href="/about_me#contactForm" class="button">Click here to contact me</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="/experience"><img src="../{{ STATIC_URL }}images/pic009.jpg" alt="" /></a>
						<h3>Resume</h3>
					</header>
					<p>Read my resume about my educational journey to reach my career goals!</p>
					<ul class="actions">
						<li><a href="/experience" class="button">Read More</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="/tensorflow"><img src="../{{ STATIC_URL }}images/pic020.jpg" alt="" /></a>
						<h3>Tensorflow Projects</h3>
					</header>
					<p>Major Projects I have made using Tensorflow, a powerful open source package for Deep Learning</p>
					<ul class="actions">
						<li><a href="/tensorflow" class="button">Click Here to view</a></li>
					</ul>
				</article>
				<article class="item">
					<header>
						<a href="/csp"><img src="../{{ STATIC_URL }}images/pic017.jpg" alt="" /></a>
						<h3>Computer Science Principles Projects</h3>
					</header>
					<p>
						My freshman year I am taking a class called Computer Science Principles,
						a class that covers computer and programming concepts
					</p>
					<ul class="actions">
						<li><a href="/csp" class="button">Click Here to view</a></li>
					</ul>
				</article>
				<!-- Below is the Card For the other projects that I am ommiting
				<article class="item">
					<header>
						<a href="/other"><img src="../{{ STATIC_URL }}images/pic014.jpg" alt="" /></a>
						<h3>Other Projects</h3>
					</header>
					<p>These are other old projects I have made. These were all for fun,
						and have no documentation or detailed description attached. Just a
						simple heading, and the actual project exists for these.</p>
					<ul class="actions">
						<li><a href="/other" class="button">Click Here to view</a></li>
					</ul>
				</article> -->
			</section>


			<!-- Footer -->
			<footer id="footer">

			</footer>

		</div>

		<!-- Scripts -->
		<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
		<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

	</body>

</html>