<!DOCTYPE HTML>
<html>


<head>
	<title>Tekotan</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../{{ STATIC_URL }}assets/css/main_.css"/>
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>

<body>
	<script type="text/javascript">
	function set_banner_pic() {
	  var images = ['../{{ STATIC_URL }}images/banner01.jpg', '../{{ STATIC_URL }}images/banner02.jpg', '../{{ STATIC_URL }}images/banner03.jpg', '../{{ STATIC_URL }}images/banner04.jpg', '../{{ STATIC_URL }}images/banner05.jpg', '../{{ STATIC_URL }}images/banner06.jpg', '../{{ STATIC_URL }}images/banner07.jpg', '../{{ STATIC_URL }}images/banner08.jpg', '../{{ STATIC_URL }}images/banner09.jpg', '../{{ STATIC_URL }}images/banner10.jpg'];
	  var elem = document.getElementById('headermain')
		elem.style.backgroundImage = 'url(' + images[Math.floor(Math.random() * (10))] + ')';
	}
	window.onload = set_banner_pic;
</script>
	<!-- Header -->
	<header id="headermain" class="alt">
		<div class="inner">
			<h1>Tekotan</h1>
			<p>A Way for A Student to Show His Progress</p>
		</div>
	</header>
	<div class="nav-bar">
		      <h3 class="nav-1 nav-pad active"><a class="nav-link" href="/">Home</a></h2>
		      <h3 class="nav-2 nav-pad"><a class="nav-link" href="/about_me">About</a></h2>
		      <h3 class="nav-3 nav-pad"><a class="nav-link" href="#">Contact</a></h2>
					<div class="dropdown">
					<h3 class="nav-4 dropbtn nav-pad"><a class="nav-link">Projects</a></h2>
			    <div class="dropdown-content">
			      <a href="#">Tensorflow Projects</a>
			      <a href="#">Other Projects</a>
					</div>
				</div>
		      <h3 class="nav-5 nav-pad"><a class="nav-link" href="#">Work Experience</a></h2>
		    </div>
	<!-- Wrapper -->
	<div id="wrapper">


		<!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-diamond major"></span>
			<h2>About Me</h2>
			<p>Hello! I am Tanish Baranwal and I am a developer working on many projects! I know many programming languages. I know Python, CSS,
				Javascript, HTML, SQL, and very little PHP. I just started learning tensorflow. Tensorflow is a powerful module made by Google that uses prebuild
			computational functions to assist with machine learning. View the tensorflow section <a href="#tensorflow">below</a>. I have been using this to make projects. As the projects are finished, I will post a demo and
			some slides explaining the problem, the application, and the architecture. To be informed when I post a project, signup for the <a href="#cta">mailing list</a>.</p>
			<ul class="actions">
				<li><a href="../{{ STATIC_URL }about/index.html" class="button big">More About Me</a></li>
			</ul>
		</section>

		<!-- Items -->
		<section id="main" class="main">
			<header id="tensorflow">
				<h2>Tensorflow</h2>
			</header>
			<p>Insert Details for the main projects, including information that each project will have a blog post.</p>
		</section>
		<section class="main items">
		<article class="item">
			<header>
				<a href="/Sentiment_Analysis"><img src="../{{ STATIC_URL }}images/pic020.jpg" alt="" /></a>
				<h3>Sentiment Analysis</h3>
			</header>
			<p>This is an awesome representation of how tensorflow can do remarkable things. In this project, you can enter any
			phrase and my program will classify it as either positive or negetive. For more details on how I made this project, view the slides on the right.</p>
			<ul class="actions">
				<li><a href="/Sentiment_Analysis" class="button">Click Here to view</a></li>
			</ul>
		</article>
	</section>
	<section id="main" class="main">
		<header id="tensorflow">
			<h2>Other Projects</h2>
		</header>
		<p>These projects are miscellanious creations I have made using vanilla html,
			 css and javascript without any plugins or other addons, unless specified in the project definition. These projects are
			  arranged in reverse cronological order</p>
	</section>
		<section class="main items">
			<span id="myprojects"></span>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}Earth Sun And Code/index.html"><img src="../{{ STATIC_URL }}images/pic006.jpg" alt="" /></a>
					<h3>Earth Sun and Code</h3>
				</header>
				<p>This is a great way to memorize your solar system stats in an interactive way. This was one of the few projects that
					took me more than a few days to program.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}Earth Sun And Code/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}fireworks/index.html"><img src="../{{ STATIC_URL }}images/pic007.jpg" alt="" /></a>
					<h3>Fireworks</h3>
				</header>
				<p>This was supposed to be for the Fourth of July but I finished 3 days late so I tweaked it a bit and put it on today.
				</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}fireworks/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}game of Balls/index.html"><img src="../{{ STATIC_URL }}images/pic009.jpg" alt="" /></a>
					<h3>A Game of Balls</h3>
				</header>
				<p>This is my first real game I made.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}game of Balls/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}paint/index.html"><img src="../{{ STATIC_URL }}images/pic011.jpg" alt="" /></a>
					<h3>Paint</h3>
				</header>
				<p>Simple copy of microsoft paint with some different colors and brushes.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}paint/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}Pong/index.html"><img src="../{{ STATIC_URL }}images/pic014.jpg" alt="" /></a>
					<h3>Pong</h3>
				</header>
				<p>A game that was popular in the old days.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}Pong/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}scientific calculator/index.html"><img src="../{{ STATIC_URL }}images/pic015.jpg" alt="" /></a>
					<h3>Scientific Calculator</h3>
				</header>
				<p>This is another other project that took me more than a few days.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}scientific calculator/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}searchnearby/index.html"><img src="../{{ STATIC_URL }}images/pic016.jpg" alt="" /></a>
					<h3>Google Map Api Search Nearby</h3>
				</header>
				<p>A project using Google Map Api, it allows you to look for certain places around a location.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}searchnearby/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}Tower Of Hanoi/index.html"><img src="../{{ STATIC_URL }}images/pic017.jpg" alt="" /></a>
					<h3>Tower of Hanoi</h3>
				</header>
				<p>This is a very strategic game. Even I can't beat it sometimes.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}Tower Of Hanoi/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}AnimatedAnimals/index.html"><img src="../{{ STATIC_URL }}images/pic018.jpg" alt="" /></a>
					<h3>Animated Animals</h3>
				</header>
				<p>This was for my sister. I used a tutorial at <a href="http://tympanus.net/codrops/2016/03/21/animated-animals-css-svg/">codrops</a>.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}AnimatedAnimals/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>
			<article class="item">
				<header>
					<a href="../{{ STATIC_URL }}TheAviator/index.html"><img src="../{{ STATIC_URL }}images/pic019.jpg" alt="" /></a>
					<h3>The Aviator</h3>
				</header>
				<p>Trying out threejs. I used a tutorial at <a href="http://tympanus.net/codrops/2016/04/26/the-aviator-animating-basic-3d-scene-threejs/">codrops</a>.</p>
				<ul class="actions">
					<li><a href="../{{ STATIC_URL }}TheAviator/index.html" class="button">Click Here to view</a></li>
				</ul>
			</article>

			<article class="item">
				<header>
					<a href="../calculator"><img src="../{{ STATIC_URL }}images/pic004.jpg" alt="" /></a>
					<h3>The Equation Calculator</h3>
				</header>
				<p>My first Django App! I used some backend python hacks and added error handling.</p>
				<ul class="actions">
					<li><a href="../calculator" class="button">Click Here to view</a></li>
				</ul>
			</article>
		</section>
		<!-- Main -->




		<!-- Footer -->
		<footer id="footer">

		</footer>

	</div>

	<!-- Scripts -->
	<script src="../{{ STATIC_URL }}assets/js/jquery.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/skel.min.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/util.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/main_.js"></script>
	<script src="../{{ STATIC_URL }}assets/js/nav.js"></script>

</body>

</html>
